* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.7;
}

/* Header background */
.App-header {
    padding-left: 100px;
    padding-right: 100px;
    background: url("../../public/theme1.jpg");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

/* Footer */
.App-footer {
    height: 80px;
    background-color: #FFE038;
    text-align: center;
    padding: 20px;
}

.App-footer p {
    font-weight: bolder;
    text-align: center;
}

.App-main {
    padding-left: 100px;
    padding-right: 100px;
}

section {
    margin-top: 40px;
    margin-bottom: 60px;
}

.start-btn {
    background-color: #dbe72f;
    color: blue;
    width: 150px;
    font-size: 25px;
    font-weight: bolder;
    height: 80px;
    border-radius: 20px;
    position: absolute;
    top: 66vh;
    left: 42vw;
    transition: 0.2s;
}

.start-btn:hover {
    background-color: white;
    cursor: pointer;
}

#slogan {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 77vh;
    left: 38vw;
}

#socials {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    text-decoration: none;
    padding: 50px;
}

/* About section */
#About p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 40px;
    font-weight: 100;
}

/* Setting up secion titles. */
div h1 {
    display: flex;
    justify-content: center;
    color: #85c3e9;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 50px;
}

/* Header socials. */
a:link {
    text-decoration: none;
}

#socials span {
    margin: 10px;
    font-size: 25px;
    text-decoration: none;
}

span a:hover {
    color: white;
    transition: 0.2s;
}

#facebook a {
    color: #4267B2;
}

#facebook a:hover,
#twitter a:hover,
#youtube a:hover {
    color: black;
}

#twitter a {
    color: #1DA1F2;
}

#youtube a {
    color: #FF0000
}

#about {
    display: flex;
    width: 100%;
}

/* Education section */
#Education h2 {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.education-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px dashed blue;
    border-bottom: 1px dashed blue;
    border-radius: 10px;
}

.education-item img {
    margin: 50px;
    background: #FF7A59;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    background: #FF7A59;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
}

.education-item img:hover {
    box-shadow: 0 16px 16px 0 rgb(226, 231, 158);
}

.education-item p {
    margin: 20px;
}

.image {
    border-radius: 50px;
}

/* Film section */
.grid-film {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.film-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.film-card p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.film-card img {
    padding: 20px;
}

.film-card h3:hover, #Education h2:hover {
    color: #FF7A59;
}

.film-card:hover {
    box-shadow: 0 8px 16px 0 rgb(185, 185, 255);
}

/* Presidency secion */
#Presidency {
    background-color: #f7f2d5;
    border-radius: 50px;
}

.presidency-card {
    display: flex;
    align-items: center;
    padding: 20px;
}

.presidency-card h2 {
    color: #189cee;
    padding: 5px;
}

.presidency-card h2:hover {
    color: rgb(54, 41, 233)
}

.presidency-card img {
    border-radius: 10px;
}

.presidency-card p {
    padding: 30px;
    font-weight: bold;
    color: rgb(160, 154, 154);
    border-bottom: 3px dotted rgb(212, 212, 52);
}

.part {
    padding: 20px;
}

/* Placing and aliging every second card to left */
.presidency-card:nth-child(even) {
    flex-direction: row;
    justify-content: left;
    text-align: left;
}

.presidency-card:nth-child(odd) {
    flex-direction: row-reverse;
    justify-content: right;
    text-align: right;
}

/* Adjusting for mobile phone. */
@media only screen and (max-width: 768px) {
    .education-item {
        flex-direction: column;
    }

    .grid-film {
        display: flex;
        flex-direction: column;
    }

    .App-main {
        padding: 20px;
    }

    .presidency-card img {
        width: inherit;
    }

    #slogan {
        font-size: 30px;
    }
}

/* Grild film readjustment for responsivity same with presidency section */
@media only screen and (max-width: 1100px) {
    .grid-film {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .presidency-card:nth-child(odd),
    .presidency-card:nth-child(even) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .App-header {
        padding: 0;
    }

    .menu {width: 50vw;}
}

/* Resize queries */
[class*="col-"] {
    float: left;
    width: 100%;
}

@media only screen and (min-width: 576px) {
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .col-xl-1 {
        width: 8.33%;
    }

    .col-xl-2 {
        width: 16.66%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-4 {
        width: 33.33%;
    }

    .col-xl-5 {
        width: 41.66%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-7 {
        width: 58.33%;
    }

    .col-xl-8 {
        width: 66.66%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-10 {
        width: 83.33%;
    }

    .col-xl-11 {
        width: 91.66%;
    }

    .col-xl-12 {
        width: 100%;
    }
}